<% provide(:title, 'Home') %>
<section>
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
  <!-- Indicators -->
  
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"> 
        <img src="/assets/image_10.png" alt="First slide">
        <div class="container">
          <!--<div class="carousel-caption">
            <h1>Asian Inspired Gourmet Sandwich</h1>
            <p>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</p>
          </div>-->
        </div>
      </div>
      <div class="item"> <img src="/assets/image_20.jpg" data-src="" alt="Second slide">
      </div>
      <div class="item"> <img src="/assets/image_21.jpg" data-src="" alt="Third slide">
      </div>
      <div class="item"> <img src="/assets/image_22.jpg" data-src="" alt="Forth slide">
      </div>
      <div class="item"> <img src="/assets/image_23.jpg" data-src="" alt="Fifth slide">
      </div>
      <div class="item"> <img src="/assets/image_24.jpg" data-src="" alt="Sixth slide">
      </div>
      <div class="item"> <img src='/assets/image_4.png' data-src="" alt="Seventh slide">
      </div>
      <div class="item"> <img src="/assets/image_3.png" data-src="" alt="Eighth slide">
      </div>
      <div class="item"> <img src="/assets/image_6.png" data-src="" alt="Ninth slide">
      </div>
      <div class="item"> <img src="/assets/image_5.png" data-src="" alt="Tenth slide">
      </div>
      <div class="item"> <img src="/assets/image_8.png" data-src="" alt="Eleventh slide">
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a> 
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a> 
  </div>
</section>
<section>
  <div id="about" class="container center main-page-message">
    <div class="row">
      <div class="col-md-4">
        <h1>Handmade</h1>
        <p>We handmade all the ingredients from mayonnaise, pickled vegetables, to burger patties with carefully chosen sources. Our food is freshly made with health and quality in mind for our customers.</p>
      </div>  
      <div class="col-md-4">
        <h1>Organic</h1>
        <p>The rising of the food safety attitude has shaped our belive of being orgainc. Not only the organic ingredients are being sources for our food, but also organic and environmental friendly equipment is being used in our catering services. We heart our neighborliness by contributing however we can, even if it's just a litte.</p>
      </div>
      <div class="col-md-4">
        <h1>Farm-to-table </h1>
        <p>Our philosophy of having a farm-to-table service emphasizes on freshness, seasonality, local accessibility, and simple preparation. We are proude to support our local farms and farmers markets by incoporating seasonal ingredients to our menu, and bring their freshness to you.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="img-gallery-1">
    <div class="container">
      <div class="col-lg-12">
        </br>
        </br>
      </div>
    </div>
  </div>
</section>
<section>
  <div id="philosophy" class="container center main-page-message">
    <h1>The Sandwich Story</h1>
     <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>三 or /`san/, is 3 in Chinese, represents our signature three layers sandwiches.</p>
        <p class="text-justify">SanSquare opened it's door in 2014, founded by two girls with the same passion in recreating childhood flavors to be healthy and sustainable. Both being foodies and professionals in silicon valley, one is deeply influenced by growing up in family owned restaurant business, and the other loves recreating & reconstructing food and sharing nutrition and medicine knowledge with friends and family. The idea of bringing healthy, creative, and fresh food inspired by childhood Asian flavors to the table is borned.</p>
        <p class="text-justify">SanSquare is a catering service providing gourmet sandwiches, desserts, and decorations to your events. No matter it's a family gathering or a birthday party, we enjoy bringing fresh and healthy food to your life.</p>
        <p class="text-justify">Asian inspired sandwich is our signature on the menu. We carefully consider our ingredients from local organic farms and their long-term effect in our environment. We try to make our products from scratch with these in mind.</p>
        <p class="text-justify">層層疊疊、豐富飽滿的三明治，除了美味、方便食用，三明治，還有著滿滿滿滿的兒時回憶。</p>
        <p class="text-justify">在那個三明治剛開始普及、口味單純的年代，上學的孩子、上班的年輕人，總是喜歡在上學、上班的路上，買上一份三明治，用三明治開啟嶄新的一天。</p>
        <p class="text-justify">記憶中，三明治，是媽媽常做的早餐。在上學的日子裡、在週末的早晨，肉鬆、煎蛋、雞蛋沙拉、水果、起司、蔬菜、各式果醬，凡是我們愛吃的，媽媽全都夾進三明治裡，鹹的、甜的、冷的、熱的；長的、方的、三角形的，各式各樣的三明治，成了每天早晨最大的期待。還記得，好幾次，心血來潮的妹妹總會把吐司沾滿拌了砂糖的蛋液後下鍋油炸，起鍋後夾入簡單的餡料，金黃酥脆的三明治，也是至今仍念念不忘的美味。</p>
        <p class="text-justify">每次製作三明治，總會想起東方人常說的那句：「有一就有二，無三不成禮。」就是向他人行禮致意或餽贈禮物時，一次、兩次都嫌少，三次以上才算好。因此，總覺得三明治其實不止是三明治，更是種富含意義的美食。沖杯熱熱的奶茶、來上一個三明治，在蒸騰的熱氣中，彷彿，又看見媽媽忙碌做著三明治的背影；三明治裡，煎蛋金黃的彷彿映照出妹妹煎炸出一片片金黃吐司的得意笑容；三明治，是美麗時光的見證。</p>
        <p class="text-justify">「有一就有二，無三不成禮。」我們將四季入菜，將回憶乘載，這一次，請您品嚐，我的心意。</p>
    </div>
  </div>
</section>
<section>
  <div class="img-gallery-3">
    <div class="container">
      <div class="col-lg-12">
	      </br>
	      </br>
      </div>
    </div>
  </div>
</section>
<section>
  <div id="menu" class="container center main-page-message">
    <h1>Menu</h1>
    <div class="row">
      <div class="col-md-4">
        <h3 class="center">Pork Sandwich</h3>
        <h5 class="center">豬肉漢堡三明治</h5>
        <p>Homemade grilled pork patty with organic spices, organic local fried egg, homemade pickled daikon, locally grown tomatoes and Persian cucumbers.</p>
      </div>
      <div class="col-md-4">
        <h3 class="center">Truffle Frittata Sandwich</h3>
        <h5 class="center">蘑菇松露烤蛋三明治</h5>
        <p>Crimini mushroom baked into organic local eggs, topped with generous amount of truffle oil, cheddar and parmesan cheese.
      </div>
      <div class="col-md-4">
        <h3 class="center">Grilled Shrimp Sandwich</h3>
        <h5 class="center">蝦排三明治</h5>
        <p>Pan-fried shrimp patty made from fresh shrimp, scallion, and cilantro. Fried local egg, locally grown tomatos, homemade pickled daikon, and Persian cucumbers.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="center">Asian Dry-fish Sandwich</h3>
        <h5 class="center">旗魚鬆三明治</h5>
        <p>Traditional savory and sweet Taiwanese dry fish rousong, organic pan-fried egg, Persian cucumber, and homemade pickled daikon.</p>
      </div>
      <div class="col-md-4">
        <h3 class="center">Teriyaki Chicken Sandwich</h3>
        <h5 class="center">照燒雞三明治</h5>
        <p>Mary's chicken braised in homemade ginger teriyaki sauce, organic pan-fried egg, locally grown tomato, and Persian cucumber.</p>
      </div>
      <div class="col-md-4">
        <h3 class="center">Apple Egg Salad Sandwich</h3>
        <h5 class="center">蘋果雞蛋沙拉三明治</h5>
        <p>Not your Mama's egg salad. Thinly sliced organic seasonal apples.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="center">Stewed Beancurd & Kimchi Sandwich</h3>
        <h5 class="center">秘滷豆干泡菜三明治</h5>
        <p>Homemade organic beancurd stewed in organic 5-spice sause, kimchi, and organic avocado.</p>
      </div>
      <div class="col-md-4">
        <h3 class="center">Sesame oil Chicken Sandwich</h3>
        <h5 class="center">麻油雞三明治</h5>
        <p>Mary's chicken braised in sesame oil and rice wine, organic Goji berry omelette, and Persian cucmber.</p>
      </div>
      <div class="col-md-4">
        <h3 class="center">Stewed Pork Sandwich</h3>
        <h5 class="center">秘制鹹肉蘆筍三明治</h5>
        <p>Homemade stewed all-natural pork butt, organic boiled egg, and organic asparagus.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="center">Tuna & Persimmon Sandwich</h3>
        <h5 class="center">鮪魚柿子三明治</h5>
        <p>Deep sea tuna, organic persimmon, and Persian cucumber.</p>
      </div>
      <div class="col-md-4">
        <h3 class="center">Taiwanese Sausage Sandwich</h3>
        <h5 class="center">台式香腸泡菜三明治</h5>
        <p>Taiwanese style sausage, Taiwanese style organic homemade kimchi, and organic parsley.</p>
      </div>
      <div class="col-md-4">
        <h3 class="center">Curry Sandwich</h3>
        <h5 class="center">咖喱三明治</h5>
        <p>Homemade beef and pork curry and organic sour cream.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="img-gallery-2">
    <div class="container">
      <div class="col-lg-12">
        </br>
        </br>
      </div>
    </div>
  </div>
</section>
<section>
  <div id="gallery" class="carousel slide" data-ride="carousel"> 
  <!-- Indicators -->
  
    <ol class="carousel-indicators">
      <li data-target="#gallery" data-slide-to="0" class="active"></li>
      <li data-target="#gallery" data-slide-to="1"></li>
      <li data-target="#gallery" data-slide-to="2"></li>
      <li data-target="#gallery" data-slide-to="3"></li>
      <li data-target="#gallery" data-slide-to="4"></li>
      <li data-target="#gallery" data-slide-to="5"></li>
      <li data-target="#gallery" data-slide-to="6"></li>
      <li data-target="#gallery" data-slide-to="7"></li>
      <li data-target="#gallery" data-slide-to="8"></li>
      <li data-target="#gallery" data-slide-to="9"></li>
      <li data-target="#gallery" data-slide-to="10"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"> 
        <img src="/assets/image_10.png" alt="First slide">
        <div class="container">
          <!--<div class="carousel-caption">
            <h1>Asian Inspired Gourmet Sandwich</h1>
            <p>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</p>
          </div>-->
        </div>
      </div>
      <div class="item"> <img src="/assets/image_20.jpg" data-src="" alt="Second slide">
      </div>
      <div class="item"> <img src="/assets/image_21.jpg" data-src="" alt="Third slide">
      </div>
      <div class="item"> <img src="/assets/image_22.jpg" data-src="" alt="Forth slide">
      </div>
      <div class="item"> <img src="/assets/image_23.jpg" data-src="" alt="Fifth slide">
      </div>
      <div class="item"> <img src="/assets/image_24.jpg" data-src="" alt="Sixth slide">
      </div>
      <div class="item"> <img src='/assets/image_4.png' data-src="" alt="Seventh slide">
      </div>
      <div class="item"> <img src="/assets/image_3.png" data-src="" alt="Eighth slide">
      </div>
      <div class="item"> <img src="/assets/image_6.png" data-src="" alt="Ninth slide">
      </div>
      <div class="item"> <img src="/assets/image_5.png" data-src="" alt="Tenth slide">
      </div>
      <div class="item"> <img src="/assets/image_8.png" data-src="" alt="Eleventh slide">
      </div>
    </div>
    <a class="left carousel-control" href="#gallery" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a> 
    <a class="right carousel-control" href="#gallery" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a> 
  </div>
</section>
<section>
  <div id="contact" class="container center main-page-message">
    <div class="row">
      <h1>Contact Us</h1>
      <div class="col-md-6">
        <h4>408-520-0518 | info@thesansquare.com | Bay Area, CA</h4>
      </div>
      <div class="col-md-6">
        <h4>Copyright © 2014. All Rights Reserved.</h4>
      </div>
    </div>
  </div>
</section>

