.navbar {
	padding-top: 10px;
}

.nav-center {
	margin: 0;
	float: none;
}

.navbar-inner {
	text-align: center;
}

#logo {
	padding: 5px;
}

.img-gallery {
	background-image: url("image_1.png");
	background-repeat: no-repeat; 
	background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  background-attachment: fixed !important;
  min-height: 1000px;
}