// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Glyphicons Halflings';
  src:url(font_path('glyphicons-halflings-regular.eot'));
  src: url(font_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), 
       url(font_path('glyphicons-halflings-regular.woff')) format('woff'), 
       url(font_path('glyphicons-halflings-regular.ttf')) format('truetype'), 
       url(font_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}